<h1>Index kitten page</h1>
<%= link_to 'New', new_kitten_path %> <br>

<% @kittens.each do |kitten| %> <br>
  Name: <%= kitten.name %> <br>
  Age: <%= kitten.age %> <br>
  Cuteness: <%= kitten.cuteness %> <br>
  Softness: <%= kitten.softness %> <br>
 <%= link_to 'Edit', edit_kitten_path(kitten)%>
<%= link_to 'Delete', kitten_path(kitten), method: :delete, data: { confirm: 'Are you sure?' } %> <br>
<% end %>